*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  /* font-size: 62.5%; */
  font-size: 1rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: black;
  background-color: blueviolet;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}
